# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ruff_cache/
.venv/
*.db
*.db-journal
*.egg-info/
build/
dist/

# Node
node_modules/
.next/
out/
build/

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log
